*

!package.json
!package-lock.json
!frontend
!frontend/apps
!frontend/apps/demo
!frontend/apps/demo/**

frontend/apps/demo/.next
frontend/apps/demo/tsconfig.tsbuildinfo
node_modules

.env
.env.*
.git
.github
.DS_Store
*.log
